NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=photos-ace50.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=photos-ace50
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=photos-ace50.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=422283179988
NEXT_PUBLIC_FIREBASE_APP_ID=1:422283179988:android:ba7ffcd5160ac7ad8bc841
NEXT_PUBLIC_API_URL=http://localhost:3001
